*.exe
*.exe~
pc
**/pc
*tfstate*
*.zip
*.tar.gz
*.rar
*.plan
public/**
themes/**
**.DS_Store
**.git
logs/**
junk/**
.terraform/**
**/.terraform/**
.terraform.lock.hcl
.vscode
.vale.ini
.styles/**
.vscode/**
**settings.json*
python/public
out/
~
